.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  .custom-input {
    --ion-background-color: transparent;
    --ion-border-color: transparent;
    --ion-border-width: 0;
    --ion-item-padding-end: 0;
    --ion-item-padding-start: 0;
    --ion-item-background: transparent;
    --ion-label-color: #007bff;
    --ion-label-font-size: 16px;
  }
  
  .custom-field {
    border: 1px solid #ccc;
    border-color: #6ABFEE;
    border-radius: 5px;
    padding: 8px;
    
  }
  
  .custom-label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .custom-button {
    margin-top: 20px;
    --background: #007bff;
    --color: #fff;
  }
  
  ion-button:hover {
    --background: #0056b3;
  }

  ion-img{
    width: 100px !important;
    height: 100px !important;
text-align: center !important;  }
  