<ion-header  class="hider">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-searchbar placeholder="Buscar producto" mode="ios" (ionChange)="onSearchChange($event)" [debounce]="250" >
</ion-searchbar>

<ion-text color="dark" > 
  <h1 class="ion-padding-start">Categorias</h1>
</ion-text>

<ion-card>
  <ion-row>
    <ion-col size="4" *ngFor="let cat of categorias; let i = index">
      <ion-button class="ion-text-lowercase" expand="block" shape="round" [color]="colores[i % colores.length]">
        <p>
          {{cat.length > 12 ? cat.substr(0, 10) + '...' : cat}}
        </p>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>


<ion-button  (click)="openNewProduct()" expand="block" fill="clear" shape="round">
  <ion-icon slot="start" name="add"></ion-icon>
  Agregar Producto
</ion-button>

<ion-card>
  <ion-list>
    <ion-item lines="full" *ngFor="let x of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-thumbnail slot="start">
        <img  src="https://cdn.forbes.com.mx/2016/09/xbox-768x432.png" />
      </ion-thumbnail>
      <ion-label>
        Chetos
        <p><b>Stock: </b> 120</p>
        <p><b>Precio: </b> {{12 | currency}} </p>
      </ion-label>
      <ion-button fill="clear">
        <ion-icon color="primary"  slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button >
    </ion-item>
  </ion-list>
</ion-card>



</ion-content>
